# ignore db volumes
db/*
schema/*

# ignore everything in "wordpress" directory except the "wp-content" directory.
wordpress/*
wordpress/wp-content/languages/*
wordpress/wp-content/uploads/*
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "plugins", "themes" directory
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# ignore log files and databases
*.log
*.sql
*.sqlite